html,
body {
  margin: 0;
  height: 100%;
}

.pageContainer {
  display: flex;
  height: 100%;
}

.imageContainer {
  border: 1px solid red;
  flex-grow: 1;
}

.formContainer {
  border: 1px solid red;
  flex-grow: 2;
}
